.encabezado{
    display: flex;
    background-color: green;

}

.logo {
    width: 100px; 
    height: 100px;
    margin: 10px; 
    border: 2px solid #333; 
    border-radius: 50%; 
    display: block; 
    text-align: center; 
    background-color: transparens; 
}

.buscador{
    margin: 15px;
}

.opciones{
    background-color: green;
    text-align: center;
    font-size: 20px;
 
}

.opciones a{
    text-decoration: none;
    padding: 0px  150px;
    color: #ffff;
}

.opciones :hover{
    background-color: rgb(9, 255, 9);
    border-radius: 10px;
}

.title{
    text-decoration: underline;
    color: rgb(13, 255, 5);
}

.item_1{
    display: flex;
}

.primera img{
    padding: 10px 0px;
    margin: 30px;
    text-align: center;
    width: 45%;
}

.prom{
    margin: 20px;
}

.primer_lote{
    display: flex;
    margin: 20px;
}

.primer_lote nav{
    margin: 20px;
}




.final{
    background-color: red;
    padding: 20px;
}
